{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Access Key"|t('craft-qiniu'),
    id: 'accessKey',
    name: 'accessKey',
    suggestEnvVars: true,
    value: fs.accessKey,
    errors: fs.getErrors('accessKey'),
    class: 'qiniu-accessKey',
    required: true
}) }}

{{ forms.autosuggestField({
    label: "Secret Key"|t('craft-qiniu'),
    id: 'secretKey',
    name: 'secretKey',
    suggestEnvVars: true,
    value: fs.secretKey,
    errors: fs.getErrors('secretKey'),
    class: 'qiniu-secretKey',
    required: true
}) }}

{{ forms.autosuggestField({
    label: "Bucket"|t('craft-qiniu'),
    id: 'bucket',
    name: 'bucket',
    suggestEnvVars: true,
    value: fs.bucket,
    errors: fs.getErrors('bucket'),
    class: 'qiniu-bucket',
    required: true
}) }}

{{ forms.autosuggestField({
    label: "Domain"|t('craft-qiniu'),
    id: 'domain',
    name: 'domain',
    suggestEnvVars: true,
    value: fs.domain,
    errors: fs.getErrors('domain'),
    class: 'qiniu-domain',
    required: true
}) }}

